* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 40px 30px 70px;
  border-radius: 10px;
}
