* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic
    Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #002765;
}
.row {
  display: flex;
  align-items: center;
  background: #edeef0;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 25px;
}
input[type="text"] {
  flex: 1;
  height: 45px;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 15px;
  border-radius: 30px;
  font-size: 16px;
}
button {
  background: #3498db;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
  margin-left: 10px;
  height: 45px;
}
button:hover {
  background: #2980b9;
}
